# OpenSearch Dashboard Public IP or DNS
OPENSEARCH_HOST=your-opensearch-ip

# Admin password for OpenSearch (used in docker-compose)
ADMIN_PASSWORD=Infra!2_25_28_06

# Domain name used for certs or postfix if reused
DOMAIN=mail.cloudmaniak.pl
